.game-board {
  display: grid;
  grid-template-columns: repeat(10, 4.5vw) ;
  grid-template-rows: repeat(10, 4.5vw);
  justify-content: center;
}
.box {
  background-color: #d9d9d9;
  border: 2px solid black;
}

.box:focus {
  border: 5px solid red !important;
}

.box:nth-child(10n)::after {
  content: "a";
}

.bottom::after {
  content: "b";
}

.ship {
  background-color: red;
}

.safe {
  background-color: green;
}

.finished {
  background-color: blue;
}

.submarine {
  background-image: url(../../../assets/images/Capture.PNG);
  background-repeat: no-repeat;
  background-position: center;
}